/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* track */
::-webkit-scrollbar-track {
  background: #282828;
}

/* handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #707070;
}