/* width */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

/* track */
::-webkit-scrollbar-track {
  background: #282828;
}

/* handle */
::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: #707070;
}