/* bounce */

@-webkit-keyframes bounce {
  0%,  
  100% {
    -webkit-transform: translateY(0);
  } 
  50% {
    -webkit-transform: translateY(-5px);
  }
}

@-moz-keyframes bounce {
  0%, 
  100% {
    -moz-transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-5px);
  }
}

@-o-keyframes bounce {
  0%,
  100% {
    -o-transform: translateY(0);
  }
  50% {
    -o-transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%,  
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

/* blink */

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}