/* Background Gradient Switch */

@keyframes bgGradientSwitch {
  0% {
    background-position:0% 50%
  }

  50% {
    background-position:100% 50%
  }

  100% {
    background-position:0% 50%
  }
}

@-webkit-keyframes bgGradientSwitch {
  0% {
    background-position:0% 50%
  }

  50% {
    background-position:100% 50%
  }

  100% {
    background-position:0% 50%
  }
}

@-moz-keyframes bgGradientSwitch {
  0% {
    background-position:0% 50%
  }

  50% {
    background-position:100% 50%
  }

  100% {background-position:0% 50%
  }
}

@-o-keyframes bgGradientSwitch {
  0% {
    background-position:0% 50%
  }

  50% {
    background-position:100% 50%
  }

  100% {
    background-position:0% 50%
  }
}

@keyframes bgGradientSwitch {
  0% {
    background-position:0% 50%
  }

  50% {
    background-position:100% 50%
  }

  100% {
    background-position:0% 50%
  }
}

/* blink */

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* tremble */

@keyframes tremble {
  10%, 40% {
    transform: translate3d(-0.5px, 0, 0);
  }
  
  22%, 38% {
    transform: translate3d(1px, 0, 0);
  }

  26%, 30%, 34% {
    transform: translate3d(-2px, 0, 0);
  }

  28%, 32% {
    transform: translate3d(2px, 0, 0);
  }
}
