/* blink */

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* tremble */

@keyframes tremble {
  10%, 20% {
    transform: translate3d(-0.5px, 0, 0);
  }
  
  11%, 19% {
    transform: translate3d(1px, 0, 0);
  }

  13%, 15%, 17% {
    transform: translate3d(-2px, 0, 0);
  }

  14%, 16% {
    transform: translate3d(2px, 0, 0);
  }
}
