/* width */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

/* track */
::-webkit-scrollbar-track {
  background: rgb(1, 1, 1);
}

/* handle */
::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: rgb(255, 255, 255);
}